<template name="Header">
    <header>
        <div class="nav">
            <a href="/" class="nav-item" data-color="#EF626C"><div>Home</div></a>
            <a href="/projects" class="nav-item" data-color="#03A9F4"><div>Projects</div></a>
            <a href="/about" class="nav-item" data-color="#9AADBF"><div>About</div></a>

            <!-- <div class="slide">slide</div> -->
        </div>

        <div class="logo">
            <img src="../images/logo.svg" alt="Dylan Dotolo" />
        </div>
    </header>
</template>
