<template name="project1">
  <a href="http://codepen.io/dotolo2/pen/VKYXgG" target="_blank">

     <div class="card card-medium">
       <div class="project-name">Daily UI #1</div>
       <div class="project-image" style="background-image: url('https://codepen.io/dotolo2/pen/VKYXgG/image/large.png')">project-image</div>
       <div class="project-info">This is an interactive sign up form I created from a post I saw on dribbble. It is the first post in my daily UI series.</div>
       <div class="project-footer">
       <div class="heart"><img src="../images/heart-icon.svg" alt="like"/><span>0</span></div>
       <!-- <div class="view"><img src="../images/view.svg" alt="like"/><span>23</span></div>
       <div class="comment"><img src="../images/comment.svg" alt="like"/><span>23</span></div> -->
       <div class="codepen"><img src="../images/codepen.svg" alt="codepen"/></div>
       </div>
     </div>

  </a>
</template>
