@import "var"

h1,h2,h3,h4
    padding: 0
    margin: 0

body
    background-color: #fafafa

.card
    background-color: #fff
    box-shadow: 0 0 5px $shadow
    width: 100%
    height: 350px
    display: flex
    flex-direction: column
    align-items: center
    margin: .5em 0
    position: relative

.card-medium
  height: 450px !important

.card-large
  height: 600px !important

.active
    background-color: pink !important
    
