@import "var"

.landing
    background-color: $off-white
    width: 100%
    height: 100%
    border-radius: $border-radius-small

    .col
        display: flex
        flex-direction: row

        .col-small
            width: 36%

        .col-wide
            width: 65%

        .col-small, .col-wide
            display: flex
            flex-direction: column
            align-items: center
            padding: 1em

    .project-card
        background-color: pink
        min-height: 350px
